<div class='page-header'>
  <div class='btn-toolbar pull-right'>

    <%= link_to "Edit", edit_company_job_path(@company, @job), class: "btn btn-default" %>

    <%= link_to "Delete", company_job_path(@company, @job), method: "delete", class: "btn btn-default"%>

  </div>
  <h2><%= @job.title %> at <%= @company.name %></h2>
</div>

<div class="list-group">
  <ul class="col-md-8">
    <li class="list-group-item"> Description: <strong> <%= @job.description %> </strong> </li>
    <li class="list-group-item"> Level of Interest: <strong> <%= @job.level_of_interest %> </strong> </li>
    <li class="list-group-item"> City: <strong> <%= @job.city %> </strong> </li>
    <% if @job.category %>
    <li class="list-group-item"> Category: <strong/> <%= link_to "#{@job.category.title}", category_path(@job.category)%></li>
    <% end %>
  </ul>
</div>

<span class="col-md-12">
  <div class="btn btn-default" role="button" >
    <%= link_to "Return to jobs at #{@company.name}", company_jobs_path(@company, @jobs), class: "btn-sm, btn-default" %>
  </div>
</span>

<div class="col-md-12">
  <h4> Comments</h4>
  <% @comments.each do |comment| %>
     <p class="comment"><%= comment.content %></p>
  <% end %>
</div class="col-md-12">

<span class="col-md-12">
  <%= render partial: "comments/form" %>
</span>
